<section class="hero">
  <div class="hero-img">
    <img
      class="w-full h-85"
      src="../assets/images/279563309_514046833543964_5252251051619831470_n.jpg"
      alt=""
    />
  </div>
  <div class="text-2xl font-semibold underline text-white hero-text">
    Test preparation and test exams
  </div>
</section>
<section>
  <div class="title">
    <h3 class="font-semibold">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non rem quas
      rerum aperiam delectus assumenda consequuntur, fugit placeat ipsam officia
      dolore illum fuga, ex voluptates laboriosam magni sunt aut accusamus!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aliquam
      pariatur quia animi doloribus aspernatur reiciendis minus fugit nihil,
      qui, iusto perferendis ut at quas ipsum sunt! Iusto, dolore ipsa!
    </h3>
    <h3 class="desc">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam a
      necessitatibus ab aliquid provident doloribus unde, aspernatur optio quos
      adipisci tempora quod tempore fuga fugit nemo atque aperiam earum
      pariatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Itaque, doloribus quasi? Cumque tempore quidem fugiat dolorum
      voluptatibus, expedita voluptas! Voluptate fugiat cum laborum quae!
      Numquam veritatis iusto nihil! Quod, dolor.
    </h3>
  </div>
</section>
<section class="details-container">
  <div class="flex items-center">
    <div
      class="relative w-full h-200 bg-white overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1"
    >
      <img
        src="../assets/images/257526592_1672301392975154_3413491928193241466_n.jpg"
        class="w-full h-full object-center object-cover"
        alt=""
      />
    </div>
    <div class="p-3 bg-white-300">
      <h3 class="text-md text-orange-500 font-medium">
        Benefits of test preparation with us
      </h3>
      <h3 class="mt-4 text-md font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem harum
        nulla quibusdam deleniti fugit dicta sequi illo, delectus cum debitis.
      </h3>
      <h3 class="mt-4 text-md font-medium">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam tempora
        vel necessitatibus nihil cum, illum quaerat harum corpor. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Est, laborum aspernatur
        officiis quibusdam ab, assumenda dolore error minima quia enim
        necessitatibus modi voluptatum, voluptate quos. Dignissimos quam dolorem
        omnis doloremque!
      </h3>
    </div>
  </div>
</section>
<section class="services">
  <div class="header">
    <div>
      <h3 class="text-lg text-orange-500 font-semibold">Our Services</h3>
      <h1 class="text-4xl font-semibold">Check out our services</h1>
    </div>
  </div>
  <div class="max-w-2xl mx-auto lg:max-w-none">
    <div class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6">
      <div
        class="group relative border dark:border-gray-700 bg-white rounded-lg overflow-hidden text-center"
      >
        <div
          class="relative w-full h-80 bg-white overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1"
        >
          <img
            src="../../../../assets/images/257526592_1672301392975154_3413491928193241466_n.jpg"
            class="w-full h-full object-center object-cover"
          />
        </div>
        <h1 class="mt-6 text-lg font-semibold text-black">
          Test preparation like GRE, IELTS, SAT, TOEFL
        </h1>
        <p class="mt-4 text-sm font-medium texst-gray-900 overflow-hidden">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
          commodi a temporibus eos assumenda iste pariatur debitis, quasi animi
          error. Deserunt provident doloremque tempore facere labore aut earum
          nihil doloribus?
        </p>
        <button
          type="button"
          class="mt-6 text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2"
        >
          Learn More
        </button>
      </div>

      <div
        class="group relative border dark:border-gray-700 bg-white rounded-lg overflow-hidden text-center"
      >
        <div
          class="relative w-full h-80 bg-white overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1"
        >
          <img
            src="../../../../assets/images/257526592_1672301392975154_3413491928193241466_n.jpg"
            class="w-full h-full object-center object-cover"
          />
        </div>
        <h1 class="mt-6 text-lg font-semibold text-black">
          Test preparation like GRE, IELTS, SAT, TOEFL
        </h1>
        <p class="mt-4 text-sm font-medium texst-gray-900 overflow-hidden">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
          commodi a temporibus eos assumenda iste pariatur debitis, quasi animi
          error. Deserunt provident doloremque tempore facere labore aut earum
          nihil doloribus?
        </p>
        <button
          type="button"
          class="mt-6 text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2"
        >
          Learn More
        </button>
      </div>

      <div
        class="group relative border dark:border-gray-700 bg-white rounded-lg overflow-hidden text-center"
      >
        <div
          class="relative w-full h-80 bg-white overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1"
        >
          <img
            src="../../../../assets/images/257526592_1672301392975154_3413491928193241466_n.jpg"
            class="w-full h-full object-center object-cover"
          />
        </div>
        <h1 class="mt-6 text-lg font-semibold text-black">
          Test preparation like GRE, IELTS, SAT, TOEFL
        </h1>
        <p class="mt-4 text-sm font-medium texst-gray-900 overflow-hidden">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
          commodi a temporibus eos assumenda iste pariatur debitis, quasi animi
          error. Deserunt provident doloremque tempore facere labore aut earum
          nihil doloribus?
        </p>
        <button
          type="button"
          class="mt-6 text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2"
        >
          Learn More
        </button>
      </div>
    </div>
  </div>
</section>
