<app-nav-bar></app-nav-bar>
<div class="bg-gray-100">
  <div>
    <img
      class="w-full"
      src="../assets/images/279563309_514046833543964_5252251051619831470_n.jpg"
      alt=""
    />
  </div>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between">
      <div>
        <h3 class="text-lg text-orange-500 font-semibold">Study Abroad</h3>
        <h1 class="text-4xl font-semibold">Offered Destination</h1>
      </div>
      <div>
        <h3 class="text-lg text-orange-500 font-semibold">Study Abroad</h3>
        <h1 class="text-4xl font-semibold">Offered Destination</h1>
      </div>
    </div>
    <div class="mx-auto lg:max-w-none">
      <div
        class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6"
      >
        <div
          class="group relative bg-white rounded-lg overflow-hidden text-center"
        >
          <div
            class="relative w-full h-50 bg-white overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1"
          >
            <img
              src="../assets/images/279539840_988504925197695_391775705662828782_n.jpg"
              class="w-full h-full object-center object-contain"
            />
          </div>
          <h1 class="text-lg font-semibold text-black">Canada</h1>
        </div>
        <div
          class="group relative bg-white rounded-lg overflow-hidden text-center"
        >
          <div
            class="relative w-full h-50 bg-white overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1"
          >
            <img
              src="../assets/images/279539840_988504925197695_391775705662828782_n.jpg"
              class="w-full h-full object-center object-contain"
            />
          </div>
          <h1 class="text-lg font-semibold text-black">Canada</h1>
        </div>
        <div
          class="group relative bg-white rounded-lg overflow-hidden text-center"
        >
          <div
            class="relative w-full h-50 bg-white overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1"
          >
            <img
              src="../assets/images/279539840_988504925197695_391775705662828782_n.jpg"
              class="w-full h-full object-center object-contain"
            />
          </div>
          <h1 class="text-lg font-semibold text-black">Canada</h1>
        </div>
        <div
          class="group relative bg-white rounded-lg overflow-hidden text-center"
        >
          <div
            class="relative w-full h-50 bg-white overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1"
          >
            <img
              src="../assets/images/279539840_988504925197695_391775705662828782_n.jpg"
              class="w-full h-full object-center object-contain"
            />
          </div>
          <h1 class="text-lg font-semibold text-black">Canada</h1>
        </div>
      </div>
    </div>
    <div class="flex justify-between">
      <div>
        <h3 class="text-lg text-orange-500 font-semibold">Study Abroad</h3>
        <h1 class="text-4xl font-semibold">Offered Destination</h1>
      </div>
      <div>
        <h3 class="text-lg text-orange-500 font-semibold">Study Abroad</h3>
        <h1 class="text-4xl font-semibold">Offered Destination</h1>
      </div>
    </div>
    <div class="max-w-2xl mx-auto lg:max-w-none">
      <div
        class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6"
      >
        <app-blog-destination-card></app-blog-destination-card>
        <app-blog-destination-card></app-blog-destination-card>
        <app-blog-destination-card></app-blog-destination-card>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
