.black-bg {
  height: 80px;
  background: #313131;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 66px;
  div {
    margin-left: 60px;
    h3 {
      color: rgb(236, 157, 11);
      font-weight: bold;
    }
    p {
      color: #ffffff;
      font-weight: bold;
    }
  }
}
.about-us-container {
  margin: 40px 66px;
}

.stories {
  margin: 0 66px;
  background: yellow;
  .container {
    padding: 60px 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .stories-detail {
    h1 {
      font-size: 30px;
      font-weight: bold;
      width: 70%;
    }
    p {
      font-size: 10px;
      width: 70%;
    }
  }
  .statistics {
    display: flex;
    flex-wrap: wrap;
    .stat-wrapper {
      display: flex;
      justify-content: flex-start;
      width: 50%;
      box-sizing: border-box;
      .stats {
        h2 {
          font-size: 24px;
          font-weight: bold;
        }
        padding: 0px 10px;
      }
    }
  }
}

.box {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.mission {
  margin: 40px 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .mission-container {
    width: 48%;
    padding: 20px 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
  .mission-desc {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
  }
}
