<section class="flex black-bg">
  <div>
    <h3>About us</h3>
    <p>Home | About us</p>
  </div>
</section>
<section class="about-us-container">
  <section class="header">
    <div>
      <h3 class="text-lg text-orange-500 font-semibold">About Us</h3>
      <h1 class="text-4xl font-semibold">Read Our Story</h1>
    </div>
  </section>
  <div class="flex items-center">
    <div
      class="relative w-full h-200 bg-white overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1"
    >
      <img
        src="../assets/images/257526592_1672301392975154_3413491928193241466_n.jpg"
        class="w-full h-full object-center object-cover"
        alt=""
      />
    </div>
    <div class="p-3 bg-white-300">
      <h3 class="text-md font-medium">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam ea,
        ipsa quam suscipit debitis sint a molestias. Assumenda vero cum
        laboriosam autem, architecto nam veniam!
      </h3>
      <h3 class="mt-4 text-md font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem harum
        nulla quibusdam deleniti fugit dicta sequi illo, delectus cum debitis.
      </h3>
      <h3 class="mt-4 text-md font-medium">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam tempora
        vel necessitatibus nihil cum, illum quaerat harum corpor.
      </h3>
      <button
        type="button"
        class="mt-4 text-white bg-gradient-to-br from-pink-700 to-orange-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2"
      >
        Learn More
      </button>
    </div>
  </div>
</section>

<section class="stories">
  <div class="container">
    <div class="stories-detail">
      <h1>Lorem ipsum dolor sit amet consectetur.</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis illo
        nesciunt ea tempora ducimus fugiat velit, nostrum obcaecati
        necessitatibus.
      </p>
    </div>
    <div class="statistics">
      <div class="stat-wrapper">
        <img src="../../../assets/icons/icons8-search.svg" alt="" srcset="" />
        <div class="stats">
          <h2>2500</h2>
          <p>Success Stories</p>
        </div>
      </div>
      <div class="stat-wrapper">
        <img src="../../../assets/icons/icons8-search.svg" alt="" srcset="" />
        <div class="stats">
          <h2>2500</h2>
          <p>Success Stories</p>
        </div>
      </div>
      <div class="stat-wrapper">
        <img src="../../../assets/icons/icons8-search.svg" alt="" srcset="" />
        <div class="stats">
          <h2>2500</h2>
          <p>Success Stories</p>
        </div>
      </div>
      <div class="stat-wrapper">
        <img src="../../../assets/icons/icons8-search.svg" alt="" srcset="" />
        <div class="stats">
          <h2>2500</h2>
          <p>Success Stories</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mission">
  <a
    href="#"
    class="flex mission-container flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
  >
    <img
      class="object-cover w-50 h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
      src="../../../assets/images/vision.png"
      alt=""
    />
    <div class="flex mission-desc flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Mission
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, nisi eos,
        illo distinctio repellat earum obcaecati qui natus repudiandae velit
        eius quidem, praesentium recusandae impedit incidunt aliquid quos! Hic,
        perferendis.
      </p>
    </div>
  </a>
  <a
    href="#"
    class="flex flex-col mission-container items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
  >
    <img
      class="object-cover w-50 h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
      src="../../../assets/images/vision.png"
      alt=""
    />
    <div class="flex mission-desc flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Vision
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor
        repudiandae eum nostrum facilis quam ipsum maxime qui recusandae.
        Inventore voluptatibus vero incidunt fuga placeat minus iure molestias
        sit assumenda. Laboriosam.
      </p>
    </div>
  </a>
</section>
