<section class="black-bg">
  <div>
    <h3>About us</h3>
    <p>Home | About us</p>
  </div>
</section>
<section class="about-us-container">
  <section class="header">
    <div>
      <h3 class="text-lg text-orange-500 font-semibold">About Us</h3>
      <h1 class="text-4xl font-semibold">Read Our Story</h1>
    </div>
  </section>
  <section class="about-us">
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      <img
        src="../../../assets/images/aus.jpg"
        alt="aus"
        class="bg-gray-100 rounded-lg"
      />
    </div>
    <div class="about-us-details">
      <div>
        <h2
          class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"
        >
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam nihil
          praesentium eveniet facere fugiat maiores, itaque delectus facilis, id
          magni sunt ut suscipit, vero doloremque?
        </h2>
        <p class="mt-4 text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
          incidunt at laudantium voluptate reprehenderit magnam accusantium
          saepe deserunt. Quibusdam sint nihil doloribus esse, eligendi
          possimus?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur
          non dolorem atque voluptate. Sunt perspiciatis facere neque similique
          voluptatem tempora iusto ipsum maiores officiis architecto?
        </p>
      </div>
      <button
        type="button"
        class="mt-6 text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2"
      >
        Learn More
      </button>
    </div>
  </section>
</section>

<section class="stories">
  <div class="container">
    <div class="stories-detail">
      <h1>Lorem ipsum dolor sit amet consectetur.</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis illo
        nesciunt ea tempora ducimus fugiat velit, nostrum obcaecati
        necessitatibus.
      </p>
    </div>
    <div class="statistics">
      <div class="stat-wrapper">
        <img src="../../../assets/icons/icons8-search.svg" alt="" srcset="" />
        <div class="stats">
          <h2>2500</h2>
          <p>Success Stories</p>
        </div>
      </div>
      <div class="stat-wrapper">
        <img src="../../../assets/icons/icons8-search.svg" alt="" srcset="" />
        <div class="stats">
          <h2>2500</h2>
          <p>Success Stories</p>
        </div>
      </div>
      <div class="stat-wrapper">
        <img src="../../../assets/icons/icons8-search.svg" alt="" srcset="" />
        <div class="stats">
          <h2>2500</h2>
          <p>Success Stories</p>
        </div>
      </div>
      <div class="stat-wrapper">
        <img src="../../../assets/icons/icons8-search.svg" alt="" srcset="" />
        <div class="stats">
          <h2>2500</h2>
          <p>Success Stories</p>
        </div>
      </div>
    </div>
  </div>
</section>
